.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

body {
  transition: background-color 500ms;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.card {
  box-shadow: 10px 10px 10px gray;
  border: 2px solid orangered;
  transition: all 500ms;
  padding: 1%;
}

.button {
  margin: auto;
}
.button.jokeBtn {
  background-color: orange;
  transition: background-color 500ms;
}

.button.jokeBtn:hover {
  background-color: orangered;
}
